<!DOCTYPE html>
<html>
	<body>
	<h1> West End Advertising Giphy Search: </h1>
	<form action="/snapshots" method= "POST">
	<input type="text" name= "search" placeholder= "Input Product or Brand" required>
	<button> Search </button>
	</form>
	</body>
</html>	